In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
polls = pd.read_csv('../Data/president_polls.csv', usecols=['state', 'start_date', 'answer', 'pct', 'pollster_id'], 
                    parse_dates= ['start_date'], infer_datetime_format='True')

In [3]:
candidates = ['Biden', 'Sanders', 'Trump']
polls = polls[polls.answer.isin(candidates)]

In [4]:
# import required libraries
#import pandas as pd
#import numpy as np

# creating initial dataframe
#bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
#bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

# converting type of columns to 'category'
#bridge_df['Bridge_Types'] = bridge_df['Bridge_Types'].astype('category')


# Assigning numerical values and storing in another column
#bridge_df['Bridge_Types_Cat'] = bridge_df['Bridge_Types'].cat.codes
#bridge_df

In [5]:
polls['answer']=polls['answer'].astype('category')

In [6]:
polls.dtypes

state                  object
pollster_id             int64
start_date     datetime64[ns]
answer               category
pct                   float64
dtype: object

In [7]:
polls.head()

      state  pollster_id start_date   answer   pct
0  Michigan         1528 2020-03-07  Sanders  45.5
1  Michigan         1528 2020-03-07    Trump  43.4
2  Michigan         1528 2020-03-07    Biden  44.1
3  Michigan         1528 2020-03-07    Trump  45.5
4  Michigan          568 2020-03-06    Biden  45.0

In [8]:
polls['candidate'] = polls['answer'].cat.codes
polls.head()

      state  pollster_id start_date   answer   pct  candidate
0  Michigan         1528 2020-03-07  Sanders  45.5          1
1  Michigan         1528 2020-03-07    Trump  43.4          2
2  Michigan         1528 2020-03-07    Biden  44.1          0
3  Michigan         1528 2020-03-07    Trump  45.5          2
4  Michigan          568 2020-03-06    Biden  45.0          0

In [11]:
polls.pivot_table(values = 'pct', index=['start_date'], columns=['answer'])

answer          Biden    Sanders      Trump
start_date
2018-11-12        NaN        NaN  43.000000
2018-11-27  48.000000  47.000000  45.250000
2018-12-16  42.000000  38.000000  36.666667
2019-01-04  49.000000  48.000000  45.333333
2019-01-05        NaN        NaN  52.000000
2019-01-10        NaN        NaN  43.000000
2019-01-16        NaN  54.100000  41.033333
2019-01-19  53.000000  51.000000  41.666667
2019-01-24  53.300000  52.000000  41.600000
2019-01-30  48.733333  49.500000  47.787500
2019-01-31  50.500000  45.500000  45.300000
2019-02-11  39.000000  34.000000  44.500000
2019-02-12  46.000000  37.000000  48.250000
2019-02-13  46.000000        NaN  49.000000
2019-02-14  52.750000  51.300000  46.940000
2019-02-20  46.000000  45.000000  47.166667
2019-02-21  54.800000  51.550000  46.142857
2019-02-22  51.000000  50.000000  41.800000
2019-02-26        NaN        NaN  35.000000
2019-02-28  48.100000  44.150000  53.988889
2019-03-07  52.750000  50.700000  46.842857
2019-03-08  49.933333  48.466667  45.690000
2019-03-09  48.000000  46.000000  43.833333
2019-03-15  52.750000  50.250000  47.637500
2019-03-17  49.440000  44.966667  41.355000
2019-03-19  49.333333  45.666667  40.176471
2019-03-21  52.800000  48.200000  49.728571
2019-03-26  54.800000  54.600000  47.340000
2019-03-27  53.000000  49.000000  41.000000
2019-03-28  51.700000  48.600000  51.220000
2019-03-31  45.000000  42.500000  38.888889
2019-04-03        NaN        NaN  37.000000
2019-04-04  68.800000  63.800000  34.766667
2019-04-06  45.000000  45.000000  44.750000
2019-04-10  43.000000  39.000000  51.250000
2019-04-11  52.800000  51.500000  49.550000
2019-04-14        NaN  51.666667  42.500000
2019-04-15  50.000000  49.000000  41.166667
2019-04-19  42.000000        NaN  34.000000
2019-04-25  48.166667  49.450000  47.407692
2019-04-27  43.833333        NaN  46.500000
2019-04-28  43.000000  37.000000  38.583333
2019-04-30        NaN        NaN  39.000000
2019-05-01  49.000000  37.000000  46.166667
2019-05-02  49.000000  49.000000  40.500000
2019-05-09  53.000000  50.000000  44.000000
2019-05-10  54.400000  54.000000  47.733333
2019-05-11  49.000000  46.000000  40.400000
2019-05-12  48.000000        NaN  44.333333
2019-05-14  39.000000        NaN  54.000000
2019-05-16  49.800000  48.600000  51.640000
2019-05-18  47.000000  47.000000  45.833333
2019-05-25  42.000000  38.000000  39.750000
2019-05-26        NaN        NaN  37.909091
2019-05-28  49.250000  53.200000  41.466667
2019-05-29  48.333333  44.666667  40.294118
2019-05-31  55.700000  53.800000  47.860000
2019-06-02        NaN        NaN  35.000000
2019-06-03  47.800000  44.700000  44.550000
2019-06-06  53.000000  51.000000  41.500000
2019-06-07  44.000000  42.000000  32.285714
2019-06-08  52.000000        NaN  41.000000
2019-06-09  49.000000  49.000000  41.000000
2019-06-10  46.000000  47.000000  35.500000
2019-06-11  42.000000  40.200000  48.100000
2019-06-12  50.000000  48.000000  42.833333
2019-06-15  47.300000        NaN  46.800000
2019-06-17  49.000000  48.000000  47.000000
2019-06-21  54.800000  54.600000  46.620000
2019-06-22  41.000000  39.000000  40.666667
2019-06-23  48.000000        NaN  38.266667
2019-06-24  54.000000  53.000000  47.600000
2019-06-28  54.000000  50.000000  44.900000
2019-07-03        NaN        NaN  41.000000
2019-07-06  53.400000  51.000000  49.780000
2019-07-07  51.000000  50.000000  43.600000
2019-07-14  49.000000  48.000000  37.166667
2019-07-15  34.000000        NaN  60.000000
2019-07-17  50.000000  45.000000  44.333333
2019-07-18  49.000000        NaN  42.000000
2019-07-21  49.000000  46.000000  41.400000
2019-07-22  45.950000  46.100000  39.180000
2019-07-24  36.900000  39.200000  37.883333
2019-07-25  48.000000  44.500000  40.846154
2019-07-26        NaN        NaN  36.857143
2019-07-27  51.300000  51.200000  50.160000
2019-07-29  48.000000        NaN  45.000000
2019-07-31  35.000000  44.000000  40.142857
2019-08-01  49.333333  49.300000  41.486842
2019-08-02  53.000000  51.000000  42.200000
2019-08-09  45.000000  44.000000  45.000000
2019-08-11  50.000000  48.000000  38.750000
2019-08-13  45.000000  34.000000  43.800000
2019-08-14  49.000000  47.000000  45.571429
2019-08-16  48.450000  47.400000  39.716667
2019-08-17  51.000000  48.000000  42.750000
2019-08-20  43.000000  41.000000  44.571429
2019-08-21  54.000000  53.000000  39.400000
2019-08-22  49.000000  44.500000  40.230769
2019-08-23        NaN        NaN  37.300000
2019-08-24  54.200000  52.000000  48.820000
2019-08-25  51.000000  48.000000  43.750000
2019-08-31  47.000000  48.000000  42.166667
2019-09-02  54.500000  52.000000  41.200000
2019-09-03  51.666667  52.500000  37.500000
2019-09-06  54.600000  52.500000  47.820000
2019-09-07  46.200000  45.600000  41.800000
2019-09-09  42.000000  37.000000  43.000000
2019-09-12  49.500000  49.500000  50.775000
2019-09-13  52.925000  51.800000  38.510000
2019-09-15  52.000000  48.000000  39.500000
2019-09-16  49.000000  47.000000  45.333333
2019-09-17  52.200000  51.100000  34.380000
2019-09-18  42.000000  37.000000  53.666667
2019-09-21  47.500000  45.066667  41.800000
2019-09-23  46.500000  43.600000  42.500000
2019-09-24  54.000000        NaN  35.000000
2019-09-26  44.875000  44.450000  43.820000
2019-09-29  47.300000  45.475000  41.554545
2019-10-01  47.333333  44.666667  42.142857
2019-10-02  49.700000  48.500000  48.260000
2019-10-03        NaN        NaN  45.000000
2019-10-04  51.000000  49.500000  44.500000
2019-10-06  50.000000  49.000000  40.000000
2019-10-10  48.000000  47.000000  46.800000
2019-10-11  53.666667  53.000000  43.133333
2019-10-13  46.869286  45.723571  45.843023
2019-10-14  49.000000  49.000000  41.125000
2019-10-15  54.500000  54.000000  38.300000
2019-10-17  47.666667  46.000000  39.800000
2019-10-18  44.850000  45.350000  47.187500
2019-10-19  46.000000  46.000000        NaN
2019-10-22  59.000000  58.000000  37.000000
2019-10-24  53.000000  51.000000  44.000000
2019-10-25  46.685000  45.530000  44.215625
2019-10-27  53.250000  53.333333  40.411765
2019-10-28  46.000000  48.000000  44.000000
2019-10-30  51.100000  47.500000  43.420000
2019-10-31  52.550000  53.500000  47.550000
2019-11-04  50.000000  48.000000  46.625000
2019-11-05  39.400000  39.900000  45.200000
2019-11-08  44.000000  45.000000  39.000000
2019-11-09  44.000000        NaN  45.500000
2019-11-10  46.000000  46.000000  42.000000
2019-11-13  47.500000  47.000000  46.100000
2019-11-15  49.000000  49.500000  42.454545
2019-11-17  49.300000  50.500000  50.650000
2019-11-20  55.750000  55.750000  37.333333
2019-11-22  49.100000  50.250000  45.420000
2019-12-02  48.000000  45.333333  46.555556
2019-12-03  42.438000  39.182000  46.960800
2019-12-04  51.333333  49.333333  43.000000
2019-12-05  47.500000  46.000000  46.636364
2019-12-07  45.000000  42.500000  48.725000
2019-12-08  48.000000  49.000000  42.200000
2019-12-10  40.600000  38.600000  43.760000
2019-12-11  47.000000  44.000000  48.500000
2019-12-12  49.000000  47.000000  46.500000
2019-12-15  51.600000  52.100000  48.900000
2019-12-16  51.700000  52.300000  36.320000
2019-12-18  38.000000  39.500000  36.125000
2019-12-19  44.000000  42.000000  52.250000
2019-12-29  46.000000  44.000000  48.750000
2019-12-30  46.000000  44.000000  41.400000
2020-01-02  46.000000  46.000000  46.750000
2020-01-03  49.350000  51.933333  45.711111
2020-01-05  46.500000  46.000000  41.000000
2020-01-06  46.000000  46.000000  41.600000
2020-01-07  34.500000  33.000000  62.500000
2020-01-08  49.000000  47.000000  46.250000
2020-01-09  50.700000  48.725000  45.263636
2020-01-10  46.000000  47.000000  50.500000
2020-01-14  52.000000  52.666667  41.000000
2020-01-15  43.000000  42.000000  44.409091
2020-01-16  49.633333  46.366667  47.506667
2020-01-19  50.000000  48.000000  41.500000
2020-01-20  47.666667  48.000000  45.000000
2020-01-21  45.466667  44.133333  46.916667
2020-01-22  45.000000        NaN  50.000000
2020-01-23  49.000000  47.000000  48.400000
2020-01-26  50.000000  49.000000  44.750000
2020-01-27  46.000000  46.000000  41.400000
2020-01-28  37.000000  34.666667  57.823529
2020-01-30  44.400000  45.100000  47.988889
2020-01-31  41.500000  42.500000  49.600000
2020-02-01  59.900000  61.400000  30.860000
2020-02-04  42.666667  42.333333  50.000000
2020-02-05  50.000000  51.000000  43.000000
2020-02-06  44.000000  45.333333  42.250000
2020-02-07  44.000000  45.000000  41.400000
2020-02-08  43.500000  43.700000  46.225000
2020-02-09  48.000000  49.000000  40.000000
2020-02-10  41.500000  41.000000  52.222222
2020-02-11  46.000000  47.000000  43.200000
2020-02-12  46.237500  46.662500  43.593617
2020-02-13  52.800000  53.400000  40.852941
2020-02-14  49.500000  49.400000  43.320000
2020-02-15  46.000000  47.500000  43.083333
2020-02-16  51.600000  53.300000  43.072727
2020-02-17  47.333333  47.300000  40.994444
2020-02-19  44.680000  47.520000  41.600000
2020-02-20  51.266667  51.633333  40.444444
2020-02-21  43.000000  45.000000  45.666667
2020-02-22  54.000000  52.500000  41.500000
2020-02-23  47.250000  47.250000  43.333333
2020-02-24  45.250000  43.880000  43.987500
2020-02-25  43.400000  43.200000  42.290000
2020-02-26  48.000000  45.000000  43.055556
2020-02-27  48.100000  43.200000  47.200000
2020-03-02  50.000000  49.000000  44.500000
2020-03-03  38.000000  33.000000  56.500000
2020-03-04  53.000000  52.000000  44.000000
2020-03-05  47.072500  45.028571  44.722000
2020-03-06  45.000000  44.000000  41.000000
2020-03-07  44.100000  45.500000  44.450000

In [ ]:
states = ["Maine","New Hampshire","Pennsylvania","Ohio","Michigan","Wisconsin","Minnesota","Iowa","Colorado","Nevada","Arizona","Virginia","North Carolina","Georgia","Florida"]
votes = [4,4,20,18,16,10,10,6,9,6,11,13,15,16,29]

In [ ]:
corr = np.zeros((15,15))
corr[0,] = (0,0.58,0.46,0.61,0.61,0.63,0.57,0.63,0.56,0.53,0.56,0.44,0.43,0.37,0.55)
corr[1,] = (0,0,0.53,0.63,0.64,0.69,0.64,0.7,0.71,0.57,0.64,0.57,0.46,0.39,0.62)
corr[2,] = (0,0,0,0.64,0.61,0.62,0.72,0.56,0.61,0.48,0.64,0.57,0.46,0.39,0.62)
corr[3,] = (0,0,0,0,.9,.86,.81,.84,.57,.67,.65,.48,.59,.53,.62)
corr[4,] = (0,0,0,0,0,0.86,0.79,0.83,0.57,0.68,0.67,0.46,0.55,0.51,0.65)
corr[5,] = (0,0,0,0,0,0,0.8,0.84,0.63,0.66,0.66,0.5,0.51,0.45,0.66)
corr[6,] = (0,0,0,0,0,0,0,0.78,0.66,0.55,0.58,0.6,0.57,0.49,0.56)
corr[7,] = (0,0,0,0,0,0,0,0,0.67,0.65,0.67,0.53,0.53,0.54,0.66)
corr[8,] = (0,0,0,0,0,0,0,0,0,0.62,0.76,0.76,0.57,0.52,0.63)
corr[9,] = (0,0,0,0,0,0,0,0,0,0,0.8,0.43,0.46,0.49,0.64)
corr[10,] = (0,0,0,0,0,0,0,0,0,0,0,0.55,0.50,0.52,0.66)
corr[11,] = (0,0,0,0,0,0,0,0,0,0,0,0,0.77,0.73,0.67)
corr[12,] = (0,0,0,0,0,0,0,0,0,0,0,0,0,0.81,0.64)
corr[13,] = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.61)

statescorr = []
#Building correlation matrix between states
statescorr = corr + np.matrix.transpose(corr) + np.identity(15)